// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #181818;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primaryBlack: #191919;
$primaryGray: #808080;
$primaryGray2: #999999;
$primaryGray3: #fafafa;

// Accent ( 강조 색상 ) ---------------------------------------------------------- /
$accentRed: #fa4637;
$accentKakao: #ffe812;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$SecondaryRed: #ff6c6c;
$SecondaryRed2: #c80815;
$SecondarySkyblue: #6a5acd;
$SecondaryLightBrown: #d9aa96;
$SecondaryLightGreen: #9dda6c;
$SecondaryLightPink: #fea3ca;
$SecondaryMint: #137a63;
$SecondaryLightPurple: #898dfa;
$SecondaryKakaoYellow: #ffcc00;
$SecondaryOrange: #ffa560;
$SecondaryGreen: #58bf7b;

// Borders ( 보더 색상 ) --------------------------------------------------------- /
$borderGray: #808080;
$borderGray2: rgba(0, 0, 0, 0.04);
$borderGray3: #d8d8d8;
$borderBlack1: #3b3b3b;
$borderBlack2: #191919;

// Fonts ( 글자 색상 ) ----------------------------------------------------------- /
$fontGray: #666666;
$fontGray2: #555555;

// Background ( 배경색상 ) ------------------------------------------------------- /
$backgroundPeach: #fe9a66;
$backgroundGray: #fafafa;
