// Initial ( 기본 색상 ) --------------------------------------------------------- /
$white: #fff;
$black: #000;

// Primary ( 주요 색상 ) --------------------------------------------------------- /
$primaryBlack: #191919;
$primaryGray: #808080;
$primaryGray2: #999999;

// Accent ( 강조 색상 ) ---------------------------------------------------------- /
$accentRed: #fa4637;

// Secondary ( 보조 색상 ) ------------------------------------------------------- /
$SecondaryRed: #ff6c6c;
$SecondarySkyblue: #80c6fb;
$SecondaryLightBrown: #d9aa96;
$SecondaryLightGreen: #9dda6c;
$SecondaryLightPink: #fea3ca;
$SecondaryMint: #75d9d5;
$SecondaryLightPurple: #898dfa;
$SecondaryKakaoYellow: #ffcc00;
$SecondaryOrange: #ffa560;
$SecondaryGreen: #58bf7b;

// Borders ( 보더 색상 ) --------------------------------------------------------- /
$borderGray: #808080;
$borderGray2: rgba(0, 0, 0, 0.04);
$borderBlack1: #3b3b3b;
$borderBlack2: #191919;

// Fonts ( 글자 색상 ) ----------------------------------------------------------- /
$fontGray: #666666;
