.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  @at-root .upper {
    padding: 0 em(8);
    @include flexbox();
    &__openButton,
    &__searchButton {
      width: em(40);
      height: em(50);
    }

    &__openButton {
      order: -1;
    }
  }

  &__logo {
    @include flexbox($justify-content: center, $align-items: center);
    flex: 1 1 0;
    height: em(50);
  }

  @at-root .logo__img {
    display: inline-block;
    width: em(190);
    height: em(24);
    transform: scale(0.85);
    background-image: url(../images/ico_comm_201125.png);
    background-position: em(-210) em(0);
    background-size: 830px 230px;
  }

  &__drawer {
    display: none;
    &--open {
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  @at-root .drawer {
    &__inner {
      z-index: 1;
      background: $white;
      width: em(290);
      height: 100%;
      padding-top: em(25);
      position: relative;
    }
    &__closeButton {
      position: absolute;
      top: em(15, 16);
      right: em(15, 16);
    }
  }

  @at-root .membership {
    @include flexbox($direction: column);
    &__info {
      padding: em(12) em(20);
      font-size: em(18);
      font-weight: 700;
    }

    &__menu {
      @include flexbox();
      padding: 0 em(11) em(9);

      a {
        font-size: em(13);
        line-height: em(19);
      }
    }

    &__item {
      @include flexbox($direction: column, $align-items: center);
      width: 25%;
      padding: em(12) 0;
    }

    &__link {
      @include flexbox($direction: column, $align-items: center);
      width: 100%;
      height: auto;
    }
  }

  @at-root .others {
    flex: 1 1 0;
    width: 100%;

    &__menu {
      border-bottom: em(1) solid $borderGray2;
    }

    &__item {
      color: $fontGray;
    }

    &__link {
      display: block;
      padding: em(11) em(20);
      width: 100%;
      height: 100%;
    }
  }

  &__companyInfo {
    @include flexbox($justify-content: space-between, $align-items: center);
    width: 100%;
    padding: em(9) em(10);
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: em(1) solid $borderGray2;

    @at-root .kakao__link {
      font-size: 12px;
      color: $fontGray;
    }
  }
}
