.emoticonSearch {
  display: none;
  background: $backgroundGray;
  border-top: 1px solid $borderGray2;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: em(15) 0;

  &__inner {
    @include autoMargin();
    max-width: em(560);
  }

  &--open {
    display: inline-block;
    z-index: -1;
  }

  &__form {
    @include flexbox($justify-content: center);

    &__inner {
      width: 100%;
      height: em(56);
    }
  }

  &__input {
    width: 100%;
    border: none;
    font-size: 16px;
    line-height: em(20);
    font-weight: 400;
    height: 100%;
    padding: em(13) em(24) em(13) em(20);

    @include tabletOnly {
      font-size: 18px;
    }

    @include desktop {
      font-size: 18px;
    }
  }

  &__submitButton {
    background: $white;
    width: em(90, 16);
    box-sizing: border-box;
  }

  &__closeButton {
    margin-top: em(10);
    height: em(44);
    background: $accentKakao;
    width: 100%;
  }
}
