// 아이콘 스타일 ------------------------------------------------------------------ /
.icon {
  // 아이콘 공통 -------------------------------------------------------------------- /
  position: relative;
  display: inline-block;
  width: em(24);
  height: em(24);
  vertical-align: middle;

  // 아이콘 요소를 보이지 않도록 설정할 때
  &None {
    display: none;
  }

  &RightArrow {
    position: relative;
    font-size: 16px;
    width: em(15);
    height: em(15);
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: em(30);
      height: em(30);
      background-image: url(../images/ico_comm_201125.png);
      background-position: em(-320) em(-100);
      // background-size: em(30) em(30);
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/ico_comm_201125.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 830px 230px;
  }

  // 검색 ------------------------------------------------------------------------ /
  &Search{
    &::before{
      background-position: em(-260) em(-30);
    }
  }

  // 닫기 ------------------------------------------------------------------------ /
  &Close {
    &::before {
      @include flexbox($justify-content: center);
      background-position: em(-390) em(-89);
    }
  }

  // 햄버거 -------------------------------------------------------------------- /
  &Sidemenu{
    &::before{
      background-position: em(-210) em(-30);
    }
  }

  &Purchase,
  &Present,
  &Coupon,
  &Like {
    font-size: 16px;
    width: em(30);
    height: em(30);
    margin-bottom: em(6);
  }

  &Login {
    font-size: 16px;
    width: em(10);
    height: em(10);
    margin-left: em(5);
  }

  // 구매내역 -------------------------------------------------------------------- /
  &Purchase{
    &::before{
      background-position: em(-210) em(-60);
    }
  }

  // 선물함 -------------------------------------------------------------------- /
  &Present {
    &::before{
      background-position: em(-240) em(-60);
    }
  }

  // 쿠폰함 -------------------------------------------------------------------- /
  &Coupon{
    &::before{
      background-position: em(-270) em(-60);

    }
  }

  // 좋아요 -------------------------------------------------------------------- /
  &Like {
    &::before{
      background-position: em(-300) em(-60);
    }
  }

  // 오류 및 경고 상태 -------------------------------------------------------------------- /
  &Login {
    &::before{
      background-position: em(-290) em(-40);
    }
  }
}
