// popularEmoticon 시작
.articleHeading > a {
}

.popularEmoticon {
  max-width: 1024px;
  margin: 0 auto;
  &__list {
    counter-reset: number;
  }
  &__item {
    display: none;
  }
  &__item::before {
    content: counter(number);
    display: block;
    position: absolute;
    font-size: 1.5rem;
    left: 0;
    top: 50%;
    margin-top: -15px;
  }

  &__list > :nth-child(-n + 3) {
    color: $accentRed;
  }

  &__figure {
    @include flexbox($justify-content: space-between, $align-items: center);
    margin-left: 40px;
    border-bottom: 1px solid #ccc;
  }
  &__name {
    color: #181818;
    margin: 5px 0;
    // background-color: #fff;
    height: 25px;
  }
  &__author {
    color: #999999;
    font-size: 0.8rem;
  }
  &__img {
    width: 76px;
    height: 76px;
  }

  .popularEmoticon__img__hover {
    display: none;
  }
  @include mobile {
    &__list > :nth-child(-n + 5) {
      display: block;
      margin: 10px;
      counter-increment: number;
      position: relative;
      a {
        display: block;
        padding: 5px 3px;
      }
    }
  }
  @include desktop {
    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 535px;
      // height: popular_height(
      //   $all_items_num: 10,
      //   $colum_num: 2,
      //   $list_height: 107px
      // );
      // background-color: green;
    }
    &__item {
      display: block;
      width: 45%;
      margin: 10px;
      counter-increment: number;
      position: relative;
      a {
        display: block;
        padding: 5px 3px;
      }
    }
    &__item:hover {
      .popularEmoticon__name {
        box-sizing: border-box;
        border-bottom: 1px solid #181818;
        font-weight: 700;
      }
      .popularEmoticon__img {
        display: none;
      }
      .popularEmoticon__img__hover {
        display: block;
      }
    }
  }
}
